{% extends "base.twig" %} 
{% block main %}
	<h2 class="title">{{title}}</h2>
    {% if register.status is defined and register.status.value != 'REGISTER_OK' %}
        <p class="msg">{{ register.message }}</p>
    {% endif %}
    <form action="" method="POST" class="form" enctype="multipart/form-data">
		<fieldset class="patient-data">
			<legend>Datos personales</legend>
			<p>
				<label for="dni">DNI</label>
				<input type="number" name="dni" id="dni" required tabindex="1" maxlength="8" autocomplete="off" value="{{ shiftData.dni ?? '' }}" />
			</p>
			<p>
				<label for="nombre">Nombre</label>
				<input type="text" name="nombre" id="nombre" required tabindex="2" maxlength="30" autocomplete="off" value="{{ shiftData.name ?? '' }}"/>
			</p>
			<p>
				<label for="apellido">Apellido</label>
				<input type="text" name="apellido" id="apellido" required tabindex="3" maxlength="30" autocomplete="off" value="{{ shiftData.lastname ?? '' }}"/>
			</p>
			<p class="genero">
				<label for="genero">Género</label>
				<input type="radio" name="genero" id="masculino" value="M" 
                    {% if shiftData['genero'] is defined %}
                        {% if shiftData['genero'] != 'F' %}
                            checked
                        {% endif %}
                    {% else %}
                        checked
                    {% endif %}
				/>
				<label for="masculino">Masculino</label>
				<input type="radio" name="genero" id="femenino" value="F" 
                    {% if shiftData['genero'] is defined %}
                        {% if shiftData['genero'] == 'F' %}
                            checked
                        {% endif %}
                    {% endif %}
				/>
				<label for="femenino">Femenino</label>
			</p>
			<p class="fecha">
				<label for="nacimiento">Fecha de Nacimiento</label>
				<input type="date" name="nacimiento" id="nacimiento" required tabindex="4" value="{{ shiftData.nacimiento ?? '' }}"/>
			</p>
			<p class="edad">
				<label for="edad">Edad</label>
				<input type="number" name="edad" id="edad" required tabindex="5" maxlength="3" value="{{ shiftData.edad ?? '' }}">
			</p>
		</fieldset>
		<fieldset class="contact-data">
			<legend>Datos de contacto</legend>
			<p>
				<label for="email">Correo Electrónico</label>
				<input type="email" name="email" id="email" required tabindex="6" maxlength="50" autocomplete="off" value="{{ shiftData.email ?? '' }}"/>
			</p>
			<p>
				<label for="telefono">Teléfono Celular</label>
				<input type="tel" name="telefono" id="telefono" required tabindex="7" maxlength="50" autocomplete="off" value="{{ shiftData.telefono ?? '' }}"/>
			</p>
		</fieldset>
		<fieldset class="turn-data">
			<legend>Datos del turno</legend>
			<p>
				<label for="obra-social">Obra social</label>
				<select class="obra-social" id="opcion" name="obrasSociales">
                    {% for obraSocial in obrasSociales %}
                        <option value="{{ obraSocial.getId() }}">{{ obraSocial.getName() }}</option>
                    {% endfor %}
				</select>
			</p>
			<p>
			    <label for="especialidad">Especialidad</label>
				<select class="especialidad" id="opcion" name="especialidades">
                    {% for especialidad in especialidades %}
                        <option value="{{ especialidad.getId() }}">{{ especialidad.getName() }}</option>
                    {% endfor %}
				</select>
			</p>
			<p class="medicos">
				<label for="medico">Médico</label>
				<select class="medico" id="opcion" name="profesionales">
					<option value="0">Seleccione un Médico</option>
                    {% for profesional in profesionales %}
                        <option value="{{ profesional.getId() }}">{{ profesional.getName() ~ ' ' ~ profesional.getLastName() }}</option>
                    {% endfor %}
				</select>
			</p>
			<p class="fecha">
				<label for="fecha-turno">Fecha del turno</label>
				<input class="fecha-turno" type="date" name="fecha-turno" id="fecha-turno" required tabindex="11" readonly value="{{ shiftData.fecha ?? '' }}"/>
			</p>
			<p class="hora">
				<label for="hora-turno">Horario del turno</label>
				<input class="hora-turno" type="time" name="hora-turno" id="hora-turno" required tabindex="12" readonly value="{{ shiftData.hora ?? '' }}"/>
			</p>
			<p class="estudio">
				<label for="estudio">Estudio clínico</label>
				<input name="estudio" id="estudio" type="file" accept="image/png, image/jpg, image/jpeg, application/pdf"  max="1"/>
			</p>
		</fieldset>
		<section class="button-container">
			<input class="submit" type="submit" value="Solicitar turno" />
			<input class="reset" type="reset" value="Limpiar" />
		</section>
	</form>
{% endblock %}
